    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: url(../img/2813143.jpg);
        background-size: cover;
    }
    
    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        padding: 40px;
        background: rgba(221, 236, 7, 0.2);
        box-sizing: border-box;
        box-shadow: 0 20px 30px rgba(132, 134, 6, 0.5);
        border-radius: 20px;
    }
    
    .box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #d40c0c;
        text-align: center;
        font-size: 40px;
    }
    
    .box .inputBox {
        position: relative;
    }
    
    .box .inputBox input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 2px solid #000;
        outline: none;
        background: transparent;
    }
    
    .box .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        pointer-events: none;
        transition: .5s;
    }
    
    .box .inputBox input:focus~label,
    .box .inputBox input:valid~label {
        top: -18px;
        left: 0;
        color: #d40c0c;
        font-size: 12px;
    }
    
    .box input[type="submit"] {
        background: transparent;
        border: none;
        color: #000;
        background: yellow;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 48%;
    }
    /*responcivo celular */
    
    @media(max-width:400px) {
        /* Geral */
        body {
            background: url(../img/fundo\ cel.jpg);
        }
        .box {
            width: 95%;
            padding: 15px;
        }
    }